.principal_adotar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 10px;
}

.foto {
    width: 324px;
    height: 216px;
    border-radius: 50%;
}

.principal_adotar div:last-of-type{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.principal_adotar div:last-of-type h2 {
    font-size: 60px;
    font-family: Darker Grotesque; /*adicionar mais aqui depois */
    color: black;
}

.principal_adotar div:last-of-type p {
    font-size: 14px;
    font-family: Darker Grotesque; /*adicionar mais aqui depois */
    color: black;
}

.formulario {
    width: 960px;
    height: 188px;
    margin-left: 219px;
}

.formulario form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario form div:first-of-type {
    display: flex;
    flex-direction: row;
    height: 84px;
    gap: 20px;
}

.formulario form div:last-of-type {
    display: flex;
    flex-direction: row;
    height: 84px;
}

.titulo {
    font-size: 30px;
    font-family: Darker Grotesque;
    color: black;
}

.formulario form input {
    border: 1px solid #333333;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    font-family: Darker Grotesque;
    color: black; 
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#nome {
    width: 868px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#nome input {
    width: 868px;
}

#idade {
    width: 72px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#idade input{
    width: 72px;
}

#email {
    width: 960px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


