/* Hero */
.hero {
    width: 100%;
    height: 500px;
    background-image: url("../../assets/hero-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-container {
    color: var(--white);
    padding-top: 120px;
}
.hero-container > h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 130px;
    color: var(--white);
    text-align: center;
}
.hero-container > p {
    max-width: 630px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 25px;
    text-align: center;
}
.hero-container > p::before {
    content: "";
    display: block;
    width: 99px;
    height: 5px;
    background-color: var(--white);
    margin: 14px auto;
}
/* About */
.about {
    width: 100%;
    height: 333px;
    background-color: var(--dark-blue);
    display: grid;
    place-items: center;
}
.about-container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
.about-container > h2 {
    font-size: 48px;
    line-height: 65px;
    font-weight: bold;
    color: var(--yellow);
}
.about-container > p {
    font-size: 24px;
    line-height: 32px;
    color: var(--white)
}
/* Values */
.values {
    width: 100%;
    height: 625px;
    padding-block: 30px;
    background-color: var(--dark-gray);
    
}
.values  h2 {
    color: var(--yellow);
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    font-weight: bold;
}
.values-container {
    max-width: 960px;
    margin: 15px auto 0;
    display: flex;
    justify-content: space-between;
}
.value-item {
    display: flex;
    flex-direction: column;
    max-width: 195px;
    gap: 26px;
}
.circle {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.value-item > h3 {
    font-size: 34px;
    line-height: 46px;
    color: var(--white);
    font-weight: bold;
    text-align: center;
}
.value-item > p {
    font-size: 26px;
    line-height: 20px;
    color: var(--white);
    text-align: center;
}
/* Examples */
.examples {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 100px;
    background-color: var(--white);
}
.examples-container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.examples h2 {
    color: var(--yellow);
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    font-weight: bold;
}