/*
    AQUI FICA AS VARIÁVEIS DO PROJETO
*/

:root {
    --dark-blue: #2c5680;
    --dark-gray: #333333;
    --yellow: #deb959;
    --green: #7aac3a;
    --white: #fff;
    --black: #000;
    --blue: #85cdf5;
    --red: #de5959;

}
